includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8
    paths:
        - src

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Http::fake\(\)#'
